<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit listing</h3>
        <br>
        <form method="post" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" name="listing[title]" value ="<%=listing.title%>" class="form-control form-inp" required>
                <div class="invalid-feedback">Invalid Title</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea type="text" name="listing[description]" class="form-control form-inp" required><%=listing.description%></textarea>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please add description</div>
            </div>
            <div class="mb-3">
                <p>Original Image:</p>
                <img src="<%=originalImageUrl%>" class="img-thumbnail" style="max-width: 250px;" alt="Listing Image"> 
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image:</label>
                <input type="file" name="listing[image]" class="form-control form-inp">
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Invalid Image link</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <input type="number" name="listing[price]" value ="<%=listing.price%>" class="form-control form-inp" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Invalid Price</div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country:</label>
                <input type="text" name="listing[country]" value ="<%=listing.country%>" class="form-control form-inp" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Invalid Country</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" name="listing[location]" value ="<%=listing.location%>" class="form-control form-inp" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Invalid Location</div>
            </div>
            <button class="btn form-btn mt-3 mb-3">Save</button>
        </form>
    </div>
</div>